@import "./variables.scss";
.orders_wrapper {
  margin-bottom: 10px;
  h2 {
    color: $main-light;
    margin-bottom: 20px;
    font-size: 30px;
  }

  .orders_card {
    background-color: $main-light;
    color: $main-dark;
    width: 700px;
    min-height: 360px;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 33px;
  }

  .orders_list {
    margin-bottom: 8px;
    &__order_id {
      font-weight: 500;
    }
    &:last-child {
      margin-bottom: 0px;
    }
    &__link {
      color: $main-dark;
    }
  }
}

//single order styles

//single order styles OLD

/* .order_wrapper {
  position: relative;
  left: 15%;
  .order_card {
    color: $text2;
    h2 {
      margin-bottom: 10px;
    }
    .position_card {
      border: 1px solid black;
      width: 350px;
    
      text-align: left;
      padding-top: 10px;
      padding-left: 10px;
      margin-bottom: 20px;
      ul {
        padding: 0;
        list-style-type: none;
        margin-bottom: 10px;
        li {
          margin-bottom: 2px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .user_information {
      margin-bottom: 20px;
      ul {
        list-style-type: square;
        padding-left: 20px;
      }
    }

    .total_order_price {
      font-weight: 700;
    }
  }
}
 */
