@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

$montserrat-font: "Montserrat", sans-serif;

//new colors

$main-dark: #1e2022;
$main-dark_grey: #52616b;
$main-light_grey: #c9d6df;
$main-light: #f0f5f9;

//old colors - delete later
$bg: #f8ede3;
$bg2: #dfd3c3;
$primary: #464646;
$primary2: #85586f;

$text: rgb(243, 243, 243);
$text2: rgb(56, 56, 56);

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$header-height: 72px;
$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;
@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: $md) {
      @content;
    }
  }
}
