@import "../../styles/variables.scss";

/* .hub {
  background-color: orange;
  color: $main-dark;
  border-radius: 5px;
} */

.headerWrapper {
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  color: $main-light;
  margin-bottom: 45px;
  &__title {
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 600;
  }
  /*  max-width: 1220px; */
}

.nav_list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 28px;
  li {
    list-style: none;
  }

  .quantity {
    background-color: $main-light;
    color: $main-dark;
    border-radius: 50%;
    min-width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 3px;
    padding-right: 3px; */
  }

  &__item {
    text-decoration: none;
    color: $main-light;
    &:hover {
      text-shadow: 0px 2px 20px #c9d6df;
    }
  }
}

.button {
  padding-top: 28px;
  button {
    &:hover {
      cursor: pointer;
      text-shadow: 0px 2px 20px #c9d6df;
    }
  }
}

/* .header_wrapper {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  .title {
    position: absolute;
    top: 30px;
    left: 10%;
   
    color: $text2;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
  }
  .nav {
    padding-top: 38px;
    position: absolute;
    left: 40%;
   

    .quantity {
      margin-left: 5px;
      border: 1px solid;
      display: inline-block;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: $primary;
      font-weight: 700;
      padding-right: 2px;
      padding-bottom: 2px;
    }

    ul {
      list-style-type: none;
      li {
        display: inline;
        margin-right: 80px;

        &:last-child {
          margin-right: 0;
        }

      }
    }
    &__link {
      text-decoration: none;
      font-size: 18px;
     
      &:hover {
        background-color: $primary;
        color: $text;
        border-radius: 5px;
        
      }
    }
  }

  .button {
    padding-top: 38px;
    text-align: end;
    color: $text2;
    margin-right: 20px;
    button {
      &:hover {
        cursor: pointer;
      }
    }
  }
} */

/* .header {
  height: 72px;
  background-color: $primary;
  color: $text2;
  position: fixed;
  z-index: 1000;
  width: 100%;

  &__content {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 $spacing-md;
    @include breakpoint(md) {
      padding: 0 $spacing-lg;
    }
    height: 100%;
    display: flex;
    align-items: center;
    & > div {
      flex: 1;
      white-space: nowrap;

      &:nth-child(3) {
        display: flex;
        justify-content: center;
        height: 100%;
      }
      &:last-of-type {
        display: flex;
        justify-content: flex-end;
      }
    }
    &__button__container {
      display: none;
      @include breakpoint(md) {
        display: initial;
      }
    }
  }
}
.logo {
  font-size: 26px;
  font-weight: 700;
  color: $text2;
}

.nav {
  width: 100%;
  position: fixed;
  top: 72px;
  // right: -100%;
  text-align: center;
  padding: $spacing-md 0;

  &__item {
    display: block;
    padding: $spacing-md;
    text-decoration: none;
    color: inherit;
    height: 100%;
  }
  @include breakpoint(md) {
    position: static;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: initial;
    width: auto;
    padding: 0;
    &__item {
      padding: 0 $spacing-lg;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__button__container {
    @include breakpoint(md) {
      display: none;
    }
    padding: $spacing-md;
  }
}
.button {
  font-weight: 500;
  color: $primary;
  border: 2px solid $primary;
  padding: $spacing-sm $spacing-lg;
  border-radius: $spacing-sm/2;
  cursor: pointer;
  box-shadow: 0 0 0.5em 0 $primary;
  &:active {
    transform: scale(0.98);
    border-radius: 0;
  }
  &:hover {
    box-shadow: 0 0 0.75em 0 $primary;
  }
}
 */
