.cart_wrapper {
  color: black;

  button {
    background-color: rgb(240, 140, 140);
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }
  }

  .cart {
    &__items_cards {
      margin-bottom: 20px;
    }
  }
}
